.search-and-filter {
  background-color: #37454d;
  color: #6c767c;
}

.search-and-filter .fa {
  padding: 0px 15px;
}

.search-and-filter .first-row {
  display: flex;
  padding: 5px 10px;
  height: 45px;
}

.search-and-filter .first-row .first-col {
  width: 85%;
  background-color: white;
  display: flex;
  align-items: center;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.search-and-filter .first-row .first-col input {
  height: 100%;
  width: 100%;
  line-height: 30px;
}

.search-and-filter .first-row .second-col {
  width: 15%;
  background-color: #007fad;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  color: #fff;
}

.search-and-filter .first-row .second-col input {
  cursor: pointer;
  color: #fff;
  width: 100%;
  height: 100%;
}

.search-and-filter .second-row {
  display: flex;
  padding: 5px 10px;
  height: 45px;
  justify-content: space-between;
}

.search-and-filter .second-row .col {
  width: 32%;
  background-color: white;
  display: flex;
  align-items: center;
  border-radius: 2px;
}

.search-and-filter .second-row .col input {
  width: 100%;
  height: 100%;
}

.search-and-filter .second-row .col select {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.search-and-filter .second-row .first-col {
  border-left: solid #007fad 7px;
}

.search-and-filter .second-row .second-col {
  border-left: solid #f48f00 7px;
}

.search-and-filter .third-row {
  display: flex;
  padding: 10px 10px;
  height: 45px;
  font-size: 15px;
  justify-content: space-between;
}

.search-and-filter .third-row select {
  color: #fff;
  width: 100%;
  cursor: pointer;
}

.search-and-filter .third-row .first-col input {
  background: #007fad;
  -webkit-appearance: none;
  height: 5px;
  border-radius: 2px;
  display: flex;
  width: 100%;
  cursor: pointer;
}

.search-and-filter .third-row .first-col input[type=range]::-webkit-slider-thumb {
  height: 21px;
  width: 21px;
  border-radius: 50px;
  background: #d2d2d2;
  cursor: pointer;
  -webkit-appearance: none;
}

.search-and-filter .third-row .col {
  border-right: solid 1px #d2d2d2;
  padding-right: 15px;
  min-width: 124px;
}

.search-and-filter .third-row .col:last-child {
  border: none;
}

.search-and-filter .third-row .col .label {
  text-align: left;
  color: #d2d2d2;
}

.search-and-filter .third-row .first-col {
  width: 298px;
}

.search-and-filter .third-row .first-col .label {
  display: flex;
  justify-content: space-between;
  padding-bottom: 12px;
}
