.listing-hotels {
  padding: 0px 10px;
  margin-bottom: 120px;
}

.listing-hotels .hotel-card {
  display: flex;
  margin-top: 15px;
  height: 224px;
  background-color: #fff;
  box-shadow: 0px 0px 7px 3px rgba(159, 159, 159, 0.47);
  border-radius: 3px;
}

.listing-hotels .hotel-card .photo {
  width: 230px;
  position: relative;
  padding: 2px;
  background-size: cover !important;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  filter: grayscale(100%);
  transform: scale(1);
  transition: 0.3s;
  overflow: hidden;
  cursor: pointer;
}

.listing-hotels .hotel-card .photo:hover {
  filter: grayscale(0%);
  transform: scale(1.2);
}

.listing-hotels .hotel-card .photo span {
  position: absolute;
  bottom: 8px;
  left: 8px;
  background: rgba(0, 0, 0, 0.3);
  padding: 7px 3px;
  color: #fff;
  letter-spacing: 2px;
  font-size: 12px;
  border-radius: 3px;
  cursor: pointer;
}

.listing-hotels .hotel-card .photo span:hover {
  background: rgba(40, 40, 40, 0.3);
}

.listing-hotels .hotel-card .photo .fa {
  color: rgba(225, 0, 0, 0.5);
  position: absolute;
  top: 16px;
  left: 12px;
  font-size: 20px;
}

.listing-hotels .hotel-card .photo .fa:hover {
  color: rgba(225, 0, 0, 1);
}

.listing-hotels .hotel-card .details {
  margin-top: 15px;
  width: 340px;
  padding: 0px 15px;
  color: #37454d;
}

.listing-hotels .hotel-card .details .rating .fa-star {
  margin-top: 6px;
  color: #f6ab3f;
  letter-spacing: -3.5px;
}

.listing-hotels .hotel-card .details .rating i {
  font-size: 14px;
  margin-left: 6px;
  font-style: normal;
}

.listing-hotels .hotel-card .details .location {
  margin-top: 11px;
}

.listing-hotels .hotel-card .details .reviews {
  margin-top: 20px;
  margin-bottom: 20px;
}

.listing-hotels .hotel-card .details .reviews .total {
  background-color: green;
  font-weight: bold;
  color: #fff;
  padding: 3px;
  border-radius: 3px;
}

.listing-hotels .hotel-card .details .location-reviews {
  margin-top: 26px;
}

.listing-hotels .hotel-card .third-party-prices {
  width: 125px;
  text-align: center;
  font-size: 15px;
  padding: 5px 10px 5px 10px;
  border-right: solid 1px #ebeced;
  border-left: solid 1px #ebeced;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.listing-hotels .hotel-card .third-party-prices .sites-and-prices {
  color: #6c767c;
  height: 155px;
  border-bottom: solid 1px #ebeced;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.listing-hotels .hotel-card .third-party-prices .sites-and-prices div strong {
  display: block;
}

.listing-hotels .hotel-card .third-party-prices .sites-and-prices .highlighted {
  padding: 5px;
  background-color: #e5f2f6;
  color: #007fad;
}

.listing-hotels .hotel-card .third-party-prices .more-deals {
  font-size: 14px;
  color: #37454d;
}

.listing-hotels .hotel-card .call-to-action {
  position: relative;
}


.listing-hotels .hotel-card .call-to-action .price {
  padding: 10px;
  display: flex;
  height: 150px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.listing-hotels .hotel-card .call-to-action .price .before-discount {
  font-size: 14px;
  color: #c94a3a;
}

.listing-hotels .hotel-card .call-to-action .price .before-discount strong {
  font-size: 18px;
  line-height: 30px;
  display: block;
}


.listing-hotels .hotel-card .call-to-action .price .after-discount {
  font-size: 14px;
  color: green;
}

.listing-hotels .hotel-card .call-to-action .price .after-discount strong {
  font-size: 21px;
  line-height: 30px;
  display: block;
}

.listing-hotels .hotel-card .call-to-action .price .total {
  font-size: 14px;
  color: black;
}

.listing-hotels .hotel-card .call-to-action .price .total strong {
  color: green;
  font-size: 14px;
  display: inline;
}

.listing-hotels .hotel-card .call-to-action .price .usp {
  border: solid 1px green;
  width: 200px;
  padding-top: 3px;
  padding-bottom: 3px;
  border-radius: 3px;
}

.listing-hotels .hotel-card .call-to-action .button a {
  background: #428500;
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
  padding: 15px;
  text-align: center;
  color: #fff;
  text-decoration: none;
  border-radius: 3px;
  font-weight: bold;
}

.listing-hotels .hotel-card .call-to-action .button a:hover {
  color: #428500;
  background: #fff;
  border: solid 1px #428500;
}
